manifest {
    name = 'oalmelid/baal-nf'
    author = 'Øyvind Almelid'
    homePage = 'https://git.ecdf.ed.ac.uk/oalmelid/baal-nf'
    description = 'ChIP seq ASB detection pipeline'
    mainScript = 'baal-pipeline.nf'
    nextflowVersion = '>=20.07.1'
    version = '1.0.0'
}

params {
    bowtie2_index = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/"
    sample_file = ""
    report_dir = "${launchDir}/reports/"
    genome = "genome"
    picard_cmd = "picard"
    fastqc_conf_pre = "${projectDir}/data/before_limits.txt"
    fastqc_conf_post = "${projectDir}/data/after_limits.txt"
    fastq_screen_conf = "${projectDir}/dummy/config" //FIXME
    run_baal = true
    pipeline_report_dir = "${report_dir}/pipeline_info/"
}

profiles {
    dev {
        includeConfig 'conf/local.config'
    }

    eddie {
        includeConfig 'conf/eddie.config'
    }

    conda {
        includeConfig 'conf/conda.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }
    
    docker {
        includeConfig 'conf/docker.config'
    }

    test {
        includeConfig 'conf/test.config'
    }
}

process {
    cpus=1
    ext.baseMemory = 8.GB
    memory = { task.ext.baseMemory * task.attempt }

    withLabel: bigmem {
        memory = { task.ext.baseMemory * task.attempt * 2 }
    }

    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
}

report {
    enabled = true
    file = "${params.pipeline_report_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.pipeline_report_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report_dir}/pipeline.svg"
}

