// main script name
manifest.mainScript = 'baal-pipeline.nf'

profiles {
    dev {
        includeConfig 'conf/local.config'
    }

    eddie {
        includeConfig 'conf/eddie.config'
    }

    conda {
        includeConfig 'conf/conda.config'
    }

    singularity {
    	includeConfig 'conf/singularity.config'
    }
}

process {
    cpus=1
	ext.baseMemory = 8.GB

	withLabel: bigmem {
        ext.baseMemory = 16.GB
    }

	errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
	maxRetries 3
	
	memory = { task.ext.baseMemory * task.attempt }
}