process {
    // FIXME: use the environment.yaml file from baal-nf-env
    // If so, probably migrate this to github
    conda = 'python=3.6 pandas pyranges fastqc fastq-screen trim-galore samtools bowtie2=2.3.5 picard multiqc bedtools'
    
    withLabel: baal_chip {
        conda = "${params.baal_chip_env}"
    }
}
