process {
    clusterOptions = '-l h_vmem=8G'
    executor = 'sge'
    queue = 'eddie'
    beforeScript = """
    . /etc/profile.d/modules.sh
    module load anaconda/5.0.1
    """

    withLabel: fastq {
        conda = 'fastqc fastq-screen trim-galore samtools bowtie2 picard'
    }

    withLabel: python {
        conda = 'python=3.6 pandas'
    }

    withLabel: bigmem {
	   clusterOptions = '-l h_vmem=16G'
    }

    withLabel: baal_chip {
        conda = '/exports/igmm/eddie/ponting-lab/oyvind/anaconda/envs/r_new'
    }

    withLabel: mpi {
        cpus = 16
        penv = "scatter"
    }

}

env {
    BOWTIE2_INDEXES = "/exports/igmm/eddie/ponting-lab/oyvind/bowtie/indexes"
}

params {
    fastq_screen_conf = '/exports/igmm/eddie/ponting-lab/oyvind/fastq_screen/fastq_screen.conf'
    mpiflags = '--mca btl self,tcp --mca btl_tcp_if_include 192.41.104.0/23'
}
