process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes}"}
    executor = 'sge'
    queue = 'igmm_long'

    scratch = true

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

    withLabel: parallel {
        cpus = 4
        time = '2d'
        penv = "sharedmem"
    }
}

params {
    fastq_screen_conf = '/gpfs/igmmfs01/eddie/ponting-lab/oyvind/fastq_screen/fastq_screen.conf'
}

singularity {
    runOptions = '-B /gpfs/igmmfs01/eddie/ponting-lab/oyvind/fastq_screen'
}

executor {
    queueSize = 200
}

includeConfig 'singularity.config'
