process {
	scratch = true
	executor = 'local'
	memory = '10 GB'

	withLabel: fastq {
		conda='/home/oyvind/anaconda3/envs/py36'
	}

	withLabel: baal_chip {
        conda='/home/oyvind/anaconda3/envs/r'
    }
}

params {
	staging_root = 'test/staging/runs'
	working_root = 'test/work/runs'
	mpiflags = '-H localhost,localhost,localhost,localhost'
}
