process {
	scratch = true
	executor = 'local'
	memory = '10 GB'

	withLabel: fastq {
		conda='/home/oyvind/anaconda3/envs/py36'
	}

	withLabel: python {
		conda='/home/oyvind/anaconda3/envs/py36'
	}

	withLabel: baal_chip {
        conda='/home/oyvind/anaconda3/envs/r'
    }
}

params {
	staging_root = 'test/staging/runs'
	working_root = 'test/work/runs'
	mpiflags = '-H localhost,localhost,localhost,localhost'
	// I really don't like having to put absolute paths everywhere.
	// It would be nice to have access to the workflow scope in here too.
	fastqc_conf_pre = "/home/oyvind/src/baal-nf/data/pre_trimming_limits.txt"
	fastqc_conf_post = "/home/oyvind/src/baal-nf/data/post_trimming_limits.txt"
}
