process {
    withLabel: fastq {
        container = 'docker://oalmelid/baal-nf-env:1.0.0'
    }

    withLabel: python {
        container = 'docker://oalmelid/baal-nf-env:1.0.0'
    }

    withLabel: baal_chip {
        container = 'docker://oalmelid/baal-chip-env:1.0.0'
    }
}

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '1h'
    envWhitelist = 'SINGULARITY_TMPDIR,TMPDIR'
}
